BOT_TOKEN=your_bot_token
OWNER_ID=yout_tg_id
PROXY_URL="socks5://host.docker.internal:10808" # for docker deploy IF YOU USE PROXY
# PROXY_URL="socks5://127.0.0.1:10808" # for system deploy IF YOU USE PROXY
HF_TOKEN=your_huggingface_token